/* 광고 보기 버튼 */
div[role='banner_wrap'] {
  position:fixed; left:0px; bottom:50px; width:100%; height:40px; background-color:transparent; z-index:99; touch-action:none;
}
span.banner_area_top {
  float:left; display:inline-block; width:100%; height:20px; background-color:cyan; touch-action:none;
}
span.banner_area_bottom {
  float:left; display:inline-block; width:100%; height:20px; background: rgba(0,0,0,0.4) url('../images/up_arrow.png') no-repeat center center; background-size: 20px 20px; touch-action:none;
}

/* 실제 광고 노출 영역 */
div[role='ad_area'] {
  position: fixed; top: 0; right: 0; left: 0; bottom:0; background-color:rgba(0,0,0,0.3); z-index:99; touch-action:none; display:none;
}
span[role='slide_close'] {
  display:inline-block; width:100%; height:20px; background-color:bisque;
}
